body {
  background-color: rgb(24, 24, 24);
  height: 100%;
  color: white;
}
.ReactTable {
  background-color: rgb(34, 34, 34);
  border-color: rgb(255, 255, 255);
  margin: 30px 15px 15px;
}

header {
  margin-top: 2%;
  font-size: xxx-large;
  text-align: center;
  font-weight:lighter;
  color: rgb(244, 244, 224);
}